:root {
  --font-family: "Shadows Into Light", cursive;
  --color-attacked: #bb5986;
  --color-platypus-cell: #67c15b;
  --color-white: #eff0f4;
  --color-result: #a1d4db;
  --cell-highlight: #52b8c1;
  --color-text-shadow: #555e7c;
  --color-background: #282c34;
  --color-title-background: #0d1221;
  --color-start-button: #e8c053;
  /* https://coolors.co/0d1221-282c34-555e7c-52b8c1-a1d4db-eff0f4-e8c053-67c15b-bb5986 */
}

body,
.App {
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-white);
  height: 100%;
  min-width: 600px;
  text-align: center;
}

.cursor {
  cursor: pointer;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.col {
  flex-direction: column;
}

.spacearound {
  width: 100%;
  justify-content: space-around;
}
.space-between-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.to-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.font-xxLarge {
  font-weight: 900;
  font-size: 50px;
}

.font-xLarge {
  font-weight: 600;
  font-size: 40px;
}

.font-large {
  font-weight: 400;
  font-size: 30px;
}

.font-normal {
  font-size: 18px;
}

.height80 {
  height: 80px;
}

.margin20 {
  margin: 20px;
}

#title {
  text-shadow: 0px 5px 0px var(--color-text-shadow);
  padding: 5px;
  background-color: var(--color-title-background);
  width: 100%;
}

#players-info-field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 600px;
  height: 100px;
  padding-bottom: 0;
}

#intro {
  background-color: #555e7c;
  width: 600px;
  height: 180px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  border-radius: 25px;
  text-align: center;
  align-items: center;
}

#board-area {
  width: 380px;
}

#side-bar-and-gameboard-field {
  padding-top: 5px;
}

#on-game-field {
  padding-top: 0px;
}

#mask {
  width: 380px;
  height: 380px;
  background-color: var(--color-background);
}

#start-btn,
#restart-btn,
#restart-btn-on-game,
#twoPlayer-mode-btn,
#twoP-mode-p1-btn,
#switch-btn {
  box-shadow: 0px 8px 1px var(--color-title-background);
  border: solid 3px var(--color-title-background);
  border-radius: 5px;
  padding: 10px 30px;
}

#twoPlayer-mode-btn,
#start-btn,
#restart-btn,
#twoP-mode-p1-btn,
#switch-btn {
  background-color: var(--color-start-button);
}

#restart-btn-on-game {
  background-color: var(--color-text-shadow);
}

.name {
  width: 180px;
  text-align: center;
}

.highlightName{
  background-image: url("../Image/name_frame.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.vs {
  width: 30px;
}

.lab-icon {
  position: relative;
  top: 5px;
  margin: 5px 5px 25px 5px;
}

.aboutLab {
  z-index: 2;
  min-width: 470px;
  height: 450px;
  position: fixed;
  top: 50％;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 10px var(--cell-highlight);
  background-color: var(--color-result);
  color: #282c34;
  overflow-y: auto;
  padding: 30px;
}

#sign {
  height: 50px;
  width: 50px;
}

#rotate {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--color-result);
  align-items: center;
  text-align: center;
  box-shadow: 0px 8px 1px var(--color-title-background);
  border: solid 3px var(--color-title-background);
}

#rotate-img {
  width: 90%;
  transition: transform 0.3s;
}

.rotated {
  transform: rotate(90deg);
}

.upper-left {
  width: 150px;
  height: 200px;
  position: fixed;
  font-family: var(--font-family);
}

.bottom-left {
  width: 450px;
  height: 80px;
  /* position: fixed; */
  font-family: var(--font-family);
}

#swimming-area {
  height: 200px;
}

#swimming-platypus {
  height: 100%;
  transform: translate(-50%, -50%);
  animation: swimming 8s infinite;
}

@keyframes swimming {
  0% {
    transform: translateX(-100%) scaleX(1);
  }
  35% {
    transform: translateX(50%) scaleX(1);
  }
  43% {
    transform: translateX(100%) scaleX(1);
  }
  50% {
    transform: translateX(100%) scaleX(1);
  }
  51% {
    transform: translateX(100%) scaleX(-1);
  }
  75% {
    transform: translateX(-50%) scaleX(-1);
  }
  76% {
    transform: translateX(-50%) scaleX(-1);
  }
  100% {
    transform: translateX(-100%) scaleX(-1);
  }
}

.row {
  margin: 0;
}

.cell {
  width: 30px;
  height: 30px;
  border: solid 1px var(--color-white);
  padding: 3px;
  align-items: center;
  background: none;
}

.cell.highlight {
  background-color: var(--cell-highlight);
}

.cell-image {
  width: 100%;
  height: auto;
}

.platypus-cell {
  background-color: var(--color-platypus-cell);
}

.platypus-cell-image {
  z-index: 1;
  overflow: visible;
  position: relative;
}

.img-rotated {
  rotate: 90deg;
  height: 30px;
}
.size2 {
  width: 60px;
  height: auto;
  left: 5px;
}
.size2.img-rotated {
  left: -12px;
  top: 18px;
  width: 60px;
}

.size3 {
  width: 90px;
  height: auto;
  left: 12px;
}

.size3.img-rotated {
  left: -28px;
  top: 35px;
  width: 90px;
}

.size4 {
  width: 120px;
  height: auto;
  left: 12px;
}

.size4.img-rotated {
  left: -43px;
  top: 55px;
  width: 120px;
}

.size5 {
  width: 150px;
  height: auto;
  left: 12px;
}

.size5.img-rotated {
  left: -59px;
  top: 75px;
  width: 150px;
}

.attacked {
  background-color: var(--color-attacked);
}

.result {
  z-index: 2;
  width: 600px;
  height: 300px;
  position: fixed;
  top: 50％;
  left: 50%;
  transform: translate(-50%, -0%);
  border: solid 10px var(--cell-highlight);
  background-color: var(--color-result);
}

.winner {
  color: var(--color-title-background);
  padding: 10px;
  background-color: var(--color-result);
}

.lost-result-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.win-result-image {
  width: 150px;
  height: auto;
}
