.App {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

#gameboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: center;
  margin: 0;
}

.cell {
  width: 30px;
  height: 30px;
  border: solid 1px white;
  padding: 3px;
}
